<tr id="editForm">
    <td colspan="3">
        <form>
            Питання:<br>
            <input type="text" value=""><%  console.log(this.model) %>
            <br>
            Тип питання :<br>
            <div>
                <input name="typeVariant" type="radio" value="">відкрите<br/>
                <input name="typeVariant" type="radio" value="">закрите з одією відповіддю<br/>
                <input name="typeVariant" type="radio" value="">закрите з декількома відповідями<br/>
            </div>
        </form>
    </td>
</tr>