
<tr>
<% if (this.kind == "courses" || this.kind == "modules" || this.kind == "tests") { %>
    <td width=*;"> <input class="managementVal bold" type="text" name="name" value="<%= model.get('name') %>" disabled>
    </td>
        <% if (model.get('isPublished') == true) { %>
              <td width="30px;"> <span class="isPublished glyphicon glyphicon-ok-circle" title="Опубліковано"></span></td>
        <% } else { %>
              <td width="30px;"> <span class="isPublished glyphicon glyphicon-ban-circle" title="Не опубліковано"></span></td>
        <% } %>
    <td width="30px;"> <a href="#management/<%= this.kind %>/<%= model.get('_id') %>/<%= this.child.hrefPart %>" class="glyphicon glyphicon-list-alt" title="Переглянути <%= this.child.name %>"></a></td>
    <td width="30px;"> <span class="managementEdit glyphicon glyphicon-pencil" title="Редагувати"></span></td>
    <td width="30px;"> <span type="submit" class="managementDel glyphicon glyphicon-trash" title="Видалити"></span></td>
    </td>
<% }  %>

<% if (this.kind == "areas" || this.kind == "groups") { %>
    <td width=*;"> <input class="managementVal bold" type="text" name="name" value="<%= model.get('name') %>" disabled></td>
    <td width="30px;"> <span class="managementEdit glyphicon glyphicon-pencil" title="Редагувати"></span></td>
    <td width="30px;"> <span type="submit" class="managementDel glyphicon glyphicon-trash" title="Видалити"></span></td>
<% }  %>
</tr>
