<div class="container managementCont col-lg-10 col-lg-offset-1">
    <div class="row">
        <div class="col-md-2 tab-area">
            <ul id="managementNav" class="nav nav-tabs tabs-left">
                <li id="areas"><a href="#management/areas">Напрямки</a></li>
                <li id="groups"><a href="#management/groups">Групи</a></li>
                <li id="courses"><a href="#management/courses">Курси</a></li>
                <li id="modules"><a href="#management/modules">Модулі</a></li>
                <li id="tests"><a href="#management/tests">Тести</a></li>
                <li id="questions"><a href="#">Запитання</a></li>
                <li id="users"><a href="#settings">Користувачі</a></li>
            </ul>
        </div>
        <div class="col-md-10 create-area">
            <div class="management-title"><h2><%= this.name %></h2>
                <% if (this.type === "extended") { %>
                <span class="managementAddButton glyphicon glyphicon-plus pull-right" id="managementAddButton" title="Додати"></span>
                <% } %>
            </div>
            <div class="table-responsive">
            <table class="table table-striped">
                <thead id="managementHeader">
                    <tr>
                        <th width=*;"> Назва </th>
                        <% if (this.instance === "courses") { %>
                                <th width="60px;"> Опублікувати </th>
                        <% } %>
                        <% if (this.instance === "variants") { %>
                                <th width="60px;"> Вірність</th>
                        <% } %>
                        <% if (listPath) { %>
                                <th width="60px;"> Перегляд </th>
                        <% } %>


                                <th colspan="2" width="60px;">Редагувати</th>

                    </tr>
                </thead>
               <tbody id="managementlist">

               </tbody>
            </table>
            <% if (this.type === "list" || this.type === "variant-list") { %>
                        <div id="managementAddContainer">
                            <input id="managementAddInput" class="addFor<%= this.name %>" type="text" maxlength="20"/> <input id="managementAddButton" type="submit" class="btn btn-success" id="btnCancel" value="Додати"/>
                        </div>
            <% } %>
        </div>
    </div>
</div>