<tr>
<td width=*;"> <input class="managementVal bold" type="text" name="name" value="<%= model.get('name') %>" disabled></td>
<% if (this.type === "extended") { %>
        <% if (!_.isUndefined(model.get('isPublished'))) { %>
          <% if (model.get('isPublished')) { %>
                <td width="60px;"> <span class="isPublished glyphicon glyphicon-ok-circle" id="isPublished" title=""></span></td>
            <% } else { %>
                <td width="60px;"> <span class="isPublished glyphicon glyphicon-ban-circle" id="isPublished" title=""></span></td>
          <% } %>
        <% } %>
        <% if (!_.isUndefined(model.get('duration'))) {%>
          <td width="60px;"> <input class="managementVal bold duration" type="text" name="name" value="<%= model.get('duration') %> тиж." disabled></td>
        <% } %>

        <% if (listPath) { %>
          <td width="60px;"> <a href="<%= listPath %>" class="glyphicon glyphicon-list-alt" id="" title="Переглянути <%= name%>"></a></td>
        <% } %>
<% }  %>
<td width="60px;"> <span class="managementEdit glyphicon glyphicon-pencil" id="managementEdit" title="Редагувати"></span></td>
<td width="60px;"> <span type="submit" class="managementDel glyphicon glyphicon-trash" id="managementDel" title="Видалити"></span> </td>
</tr>