<div class="col-md-12 report-page">
    <div class="report-title"><h2>Повідомити про помилку</h2></div>
    <form class="report-form">
        <input class="form-control" type="text" placeholder="Введіть email" id="report_email">
        <input class="form-control" type="text" placeholder="Введіть назву помилки" id="error_name">
        <textarea class="form-control" placeholder="Ваше повідомлення" id="error_message" rows="8"></textarea>
        <input class="form-control" type="file" placeholder="Прикріпити зображення">
        <button class="form-control btn btn-success">Відправити</button>
    </form>
</div>