<li class="dropdown active">
    <a href="" class="dropdown-toggle" data-bypass="true" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">

        <% if (typeof(user) !== 'undefined') { 
             print(user.get('name') + ' ' + user.get('lastname'));
           } 
           else{
             print(menuName);
           }
         %>
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        <% _.each(list.models, function(element) { %>
            <li><a href="<%= element.get('link') %>"><%= element.get('text') %></a></li>
        <% }) %>
    </ul>
</li>