<article class="col-lg-12 course">    
  <div class="col-md-2 col-sm-3 text-center">
    <a class="course-img" href="#"><img src="<%= course.get('image') %>"></a>
  </div>
  <div class="col-md-8 col-sm-7">
    <h3><a class="course-name" href="#courses/<%= course.get('id') %>"><%= course.get('name') %></a></h3>
    <div class="row">
      <div class="col-lg-12">
        <p><%= course.get('description') %></p>
          <div class="accordion" id="info">
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#info" href="##collapseInfo-1">
                  Information about course
                  <span class="caret"></span>
                </a>
              </div>
              <div id="collapseInfo-1" class="accordion-body collapse out">
                <div class="accordion-inner col-lg-12">
                  <ul class="list-unstyled"><li class="col-lg-6"><span>Старт:</span> 1 жовтня</li><li class="col-lg-6"><span>Старт:</span> 1 жовтня</li><li class="col-lg-6"><span>Старт:</span> 1 жовтня</li><li class="col-lg-6"><span>Старт:</span> 1 жовтня</li></ul>
                </div>
              </div>
            </div>
          </div>
          <div class="row course-action">
              <div class="col-lg-7 course-schedule">
                  <span>Course will begin at November 1st, with <strong>min 8 students</strong> (13 applications)</span>
              </div>
              <div class="col-lg-5 course-schedule">
                  <button class="btn btn-success pull-right">Submit an application</button>
              </div>
          </div>
        </div>
    </div>
  </div>
</article>