<div class="row">
  <div class="col-lg-4 sidebar-a">

  </div>
  <div class="col-lg-8 content">
    <div class="form-group">
        <div class="input-group">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
          </span>
          <input type="text" class="form-control" placeholder="Search for...">
        </div><!-- /input-group -->
    </div>
    <div class="row courses">
            
    </div>
    <div class="row">
       <div class="col-lg-12 text-center">
           <nav>          
           </nav>
       </div>
    </div>
  </div>
</div>
