<div id="course-container" class="col-lg-10 col-lg-offset-1">
    <div class="row course">
        <div class="col-lg-12">
            <h3 class="text-center"><strong><%= course.get('name') %></strong></h3>
            <div><%= course.get('description') %></div>
            <div class="accordion" id="info">
                <div class="accordion-group">
                  <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-bypass="true" data-parent="#info" href="#collapseInfo">
                      Інформація
                      <span class="caret"></span>
                    </a>
                  </div>
                  <div id="collapseInfo" class="accordion-body collapse out">
                    <div class="accordion-inner col-lg-12">
                      <ul class="list-unstyled">
                        <li class="col-lg-6">
                          <table>
                            <tr><td>Початок</td><td class="colon-padding">:</td><td><%= parseDate(course.get('startDate')) %><td></tr>
                            <tr><td>Кінець</td><td class="colon-padding">:</td><td><%= parseDate(course.get('endDate')) %></td></tr>
                          </table>
                        </li>
                        <li class="col-lg-6">
                          <table>
                            <tr><td>Тривалість</td><td class="colon-padding">:</td><td><%= course.get('duration') %> год.</td></tr>
                            <tr><td>Розклад</td><td class="colon-padding">:</td><td><%= course.get('schedule') %></td></tr>
                          </table>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
    <div id="modules-container" class="row">
    </div>
</div>
