<article class="col-lg-12 course">    
  <div class="col-md-4 col-sm-5 text-center">
    <a class="course-img" href="#courses/<%= course.get('id') %>"><img src="<%= course.get('image') %>"></a>
  </div>
  <div class="col-md-8 col-sm-7">
    <h3><a class="course-name" href="#courses/<%= course.get('id') %>"><%= course.get('name') %></a></h3>
    <div class="row">
      <div class="col-lg-12">
        <p><%= course.get('description') %></p>
          <div class="accordion" id="info-<%= course.get('id') %>">
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#info-<%= course.get('id') %>" data-bypass="true" href="#collapseInfo-<%= course.get('id') %>">
                  Інформація
                  <span class="caret"></span>
                </a>
              </div>
              <div id="collapseInfo-<%= course.get('id') %>" class="accordion-body collapse out">
                <div class="accordion-inner col-lg-12">
                  <ul class="list-unstyled">
                    <li class="col-lg-6">
                      <table>
                        <tr><td>Початок</td><td class="colon-padding">:</td><td><%= course.parseDate(course.get('startAt')) %><td></tr>
                        <tr><td>Кінець</td><td class="colon-padding">:</td><td><%= course.parseDate(course.get('endAt')) %></td></tr>
                      </table>
                    </li>
                    <li class="col-lg-6">
                      <table>
                        <tr><td>Тривалість</td><td class="colon-padding">:</td><td><%= course.get('duration') %> год.</td></tr>
                        <tr><td>Розклад</td><td class="colon-padding">:</td><td><%= course.get('schedule') %></td></tr>
                      </table>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="row course-action">
              <div class="col-lg-7 course-schedule">
                  <span>Курс почнеться <%= course.parseDate(course.get('startAt')) %>, з <strong>мін. <%= course.get('minStudents') %> студентів</strong> (заявок <%= course.get('applicantsNumber') %>)</span>
              </div>
              <div class="col-lg-5 course-schedule">
                  <button class="btn btn-success pull-right">Подати заявку</button>
              </div>
          </div>
        </div>
    </div>
  </div>
</article>