<div class="col-lg-12">
    <div class="panel panel-flat">
      <div class="panel-body">
        <div class="accordion filter" id="filter">
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-bypass="true" data-parent="#filter" href="#filterArea">
                  Area
                  <span class="caret"></span>
                </a>
              </div>
              <div id="filterArea" class="accordion-body collapse in">
                <div class="accordion-inner col-lg-12">
                    <form>
                        <div class="form-group">
                            <div class="checkbox">
                                <input type="checkbox" id="filter-UI" value="UI" aria-label="UI"><label for="filter-UI">
                                    Ui
                                </label>
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" id="filter-Java" value="Java" aria-label="Java"><label for="filter-Java">
                                    Java
                                </label>
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" id="filter-Net" value=".Net" aria-label=".Net"><label for="filter-Net">
                                    .Net
                                </label>
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" id="filter-Design" value="Design" aria-label="Design"><label for="filter-Design">
                                    Design
                                </label>
                            </div>
                        </div>
                    </form>
                </div>
              </div>
            </div>
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-bypass="true" data-parent="#filter" href="#filterGroup">
                  Group
                  <span class="caret"></span>
                </a>
              </div>
              <div id="filterGroup" class="accordion-body collapse in">
                <div class="accordion-inner col-lg-12">
                    <form>
                        <div class="form-group">
                            <div class="checkbox">
                                <input type="checkbox" id="filter-Early" value="Early" aria-label="Early"><label for="filter-Early">
                                    Early
                                </label>
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" id="filter-Daily" value="Daily" aria-label="Daily"><label for="filter-Daily">
                                    Daily
                                </label>
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" id="filter-Evening" value="Evening" aria-label="Evening"><label for="filter-Evening">
                                    Evening
                                </label>
                            </div>
                        </div>
                    </form>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
    <div class="panel panel-flat">
      <div class="panel-body">
        <H4 class="text-center"><strong>HOT VACANCIES</strong></H4>
          <div class="banner-hot">
            <div class="badge-hot">
                <div class="badge-panel">
                    <span>HOT</span>
                </div>
                <div class="badge-triangle">
                </div>
            </div>
            <div class="banner-inner">
                <span>UI Software Engineer</span>
            </div>
          </div>          
          <div class="banner-hot">
            <div class="badge-hot">
                <div class="badge-panel">
                    <span>HOT</span>
                </div>
                <div class="badge-triangle">
                </div>
            </div>
            <div class="banner-inner">
                <span>.NET Software Engineer</span>
            </div>
          </div>
          <div class="banner-hot">
            <div class="badge-hot">
                <div class="badge-panel">
                    <span>HOT</span>
                </div>
                <div class="badge-triangle">
                </div>
            </div>
            <div class="banner-inner">
                <span>.NET Software Engineer</span>
            </div>
          </div>
          <div class="banner-hot">
            <div class="badge-hot">
                <div class="badge-panel">
                    <span>HOT</span>
                </div>
                <div class="badge-triangle">
                </div>
            </div>
            <div class="banner-inner">
                <span>.NET Software Engineer</span>
            </div>
          </div>
      </div>
    </div>
</div>
