<div class="col-lg-12">
    <div class="panel panel-flat">
      <div class="panel-body">
        <div class="accordion filter">
          <form id="filter"></form>
        </div>
      </div>
    </div>
    <div class="panel panel-flat">
      <div class="panel-body">
        <H4 class="text-center"><strong>Гарячі вакансії</strong></H4>
          <div class="banner-hot" id="vacancies">
            <div class="badge-hot">
                <div class="badge-panel">
                    <span>HOT</span>
                </div>
                <div class="badge-triangle"></div>
            </div>
            <div class="banner-inner">
                <span>UI Software Engineer</span>
            </div>
          </div>          
          <div class="banner-hot">
            <div class="badge-hot">
                <div class="badge-panel">
                    <span>HOT</span>
                </div>
                <div class="badge-triangle"></div>
            </div>
            <div class="banner-inner">
                <span>.NET Software Engineer</span>
            </div>
          </div>
          <div class="banner-hot">
            <div class="badge-hot">
                <div class="badge-panel">
                    <span>HOT</span>
                </div>
                <div class="badge-triangle"></div>
            </div>
            <div class="banner-inner">
                <span>.NET Software Engineer</span>
            </div>
          </div>
          <div class="banner-hot">
            <div class="badge-hot">
                <div class="badge-panel">
                    <span>HOT</span>
                </div>
                <div class="badge-triangle"></div>
            </div>
            <div class="banner-inner">
                <span>.NET Software Engineer</span>
            </div>
          </div>
      </div>
    </div>
</div>
