<div class="wrapper">   
    <div class="header">
        <div class="row">
            <div class="mini-logo col-md-2">        
                <img src="img/mini-logo.png">
            </div>
            <div class="col-md-1"> 
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Меню <b class="caret"></b></a>
                    <ul id="menu1" class="dropdown-menu main-menu">
                      <li><a href="#">Дія</a></li>
                      <li><a href="#">Інша дія</a></li>
                      <li><a href="#">Лінк</a></li>
                      <li class="divider"></li>
                      <li><a href="#">Окремий лінк</a></li>
                    </ul>
                </li>
            </div>
            <div class="header-page col-md-6"> 
                Course Management system
            </div>
            <div class="col-md-3"> 
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        Jasper Lark <img class="img-user" src="img/user/user1.png"><b class="caret"></b>
                    </a>
                    <ul id="menu1" class="dropdown-menu user-menu">
                      <li><a href="#">Профіль</a></li>
                        <li class="divider"></li>
                      <li><a href="#">Мої курси</a></li>
                        <li class="divider"></li>
                      <li><a href="#">Вихід</a></li>                  
                    </ul>
                </li>
            </div>
        </div>
    </div> 

    <div class="container tests">


    </div> 
</div>        

<div class="footer"> 
    <div>   
        &copy; 2015
        <a href="#">умови користування</a>
        <a href="#">повідомити про помилку</a>
    </div>
</div>

