<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                <img class="logo-head" alt="Brand" src="img/ss_logo.png">
            </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navigation-menu"></ul>
            <div class="navbar-centered"><a href="#" class="navbar-brand">Course Management System</a></div>
            <ul class="nav navbar-nav navbar-right personal-menu"></ul>
        </div><!-- /.navbar-collapse -->
    </div>
</nav>
