<div class="row">
    <div class="col-lg-12">
        <div class="page-header text-center">
            <img src="assets/images/ss_logo.png" alt="SoftServe IT Academy" />
            <h1>Course Management System</h1>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-8 col-lg-offset-2">
        <form action="" class="login-form">
            <div class="form-group">
                <div class="input-group"><span class="input-group-addon"><strong>@</strong></span><input type="text" class="form-control" id="email" placeholder="E-mail" value="<%= email %>"></div>
            </div>
            <div class="form-group">
                <div class="input-group"><span class="input-group-addon"><strong>*</strong></span><input type="text" class="form-control" id="password" placeholder="Password" value="<%= password %>"></div>
            </div>
            <div class="form-group"><a href="#five">Five</a></div>
        </form>
    </div>
</div>