#course-container {
    padding: 0px 70px;
}

.course {
    background-color: $courseBgColor;
    background-clip: content-box;
    margin-bottom: 25px;
}
.course .course-name {
	color: #000;
	text-decoration: none;
}
.course .course-name:hover {
	text-decoration: underline;
}
.course .course-img {
    margin-top: 25%;
    display: block;
    width: 100%;
}
.course .course-img img {
	max-width: 155px;
	max-height: 210px;
}
.course .accordion {
    color: $accordionTextColor
}

.course .accordion .accordion-heading {
    border-bottom: 1px dashed $accordionTextColor;
    text-align: right;
}

.course .accordion .accordion-heading .accordion-toggle {
    text-decoration: none; 
    color: $accordionTextColor;
}

.course .accordion .accordion-inner {
    border-bottom: 1px dashed $accordionTextColor;
	margin-bottom: 10px;
}

.course .course-action {
    margin-top: 25px;
}

.course .course-action .course-schedule {
    height: 40px;
    display: inline-block;
    margin-bottom: 25px;
}
.course .course-schedule span {
    color: #787878;
    font-style: italic;
    display: table-cell;
    vertical-align: middle;
    height: 40px;
}
.course .btn-success {
    background-color: #60b760;
}
.course .accordion-inner li span {
    font-style: italic;
}
.row.course {
    background-clip: inherit;
    padding: 10px 20px 20px 20px;
    color: $courseColor;
}
.module .module-title {
    display: block;
    font-size: 1.2em;
    padding-top: 35px;
}