#managementlist{
    .btn{
        width: 100px;
    }
}
#managementAddInput{
    margin: 9px 13px 0 9px;
}
.table-striped{
    margin-bottom: 0;
}
.table-responsive{
    border: none;
}
.nav-tabs>li {
    min-width: 100%;
}
.tab-area {
    padding-right: 0;
}
.create-area {
    background: #fff;
    min-height: 350px;
}
.tab-area .active {
    text-decoration: none;
}
.nav-tabs {
    border-bottom: none;
}
