.padding {
    padding: 20px;
}
a:link {
    text-decoration: underline;
}
#module-container {
    margin-bottom: $defaultMarginBottom;
    background-color: #ffffff;
    margin-right: auto;
    margin-left: auto;
}
a.module-item-name {
  color: #000;
  text-decoration: none;
}
.module-item-name:hover {
  text-decoration: underline;
}
.left-side {
    float: left;
}
.right-side {
    float: right;
}
#module-info {
    padding-top: 20px;
}
.bottom-line {
    padding-top: 25px;
}
.btn.btn-success {
    text-deciration: none;
}
.btn.btn-success.disable {
    background-color: #959595;
    border: 1px solid #ccc;
}
.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.module-title {
    font-size: 24px;
    color: $aticleTitleColor;
    font-weight: bold;
}
ul.h4 {
    list-style-type: none;
}