#registerForm{
    .input-group{
        width:300px;
        margin: 0 auto;
    }

    .form-group{
        margin-bottom: 25px;
    }

    .attention{
        max-width:470px;
        height:45px;
        padding:15px;
        margin: 0 auto;
        margin-bottom: 25px;
        color: #DBA901;
        background: #F1F8E0;
        boarder: 0px;

    }

    .CMStext {
        max-width:470px;
        height:45px;
        padding:15px;
        margin: 0 auto;
        margin-bottom: 55px;
        text-align: center;
        font: bold 30px Georgia, serif;
    }

     #submit{
        width: 140px;
        margin-top: 40px;
    }   

    .input-group-addon{
        width: 39px
    }
}