#registerForm{
    .input-group{
        width:300px;
    }

    .input-group{
        margin-top: 20px;

        }

     #submit{
        width: 140px;
        margin-top: 40px;
     }   

     .input-group-addon{
        width: 39px
     }
}