#general-form {

    #registerForm {
        max-width:300px;
        margin: 0 auto;
    }

    .input-group {
        width:310px;
        margin-bottom: 20px;
        height: 40px;
    }

    .form-control {
        height:40px;
    }

    .input-group-addon {
        width: 40px;
        font-size: 116%;
        font-weight: bold;
    }

}

.error {
    border: 1px solid red;
    
}

.warning {
    width: 420px;
    padding: 10px 20px;
    margin: 20px auto;
    color:#CD9953;
    background: #FEF7E4;
}

#submit {
    width: 140px;
    background-color: #00C1DE;
    margin-top: 35px;
}   

.error-message {
    width: 420px;
    padding: 10px 20px;
    margin: 20px auto;
    background-color: #FADFDF;
    color: #D24A4A;
}