$mainBgColor: #F7F7F7;
$regBtnColor: #00C1DE;
$loginBtnColor: #00B859;
$footerBgColor: #DFDFDF;
$courseBgColor: #ffffff;
$padding-top-50: 50px;
$accordionTextColor: #8E8E8E;
$courseColor: #191919;
$moduleLinkColor: #006597;

html,
body,
ul,
ol {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    box-sizing: border-box;
    overflow-y: -moz-scrollbars-vertical;
    overflow-y: scroll;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
    padding-top: 80px;
    background-color: $mainBgColor;
}
