$mainBgColor: #F7F7F7;
$regBtnColor: #00C1DE;
$loginBtnColor: #00B859;
$footerBgColor: #DFDFDF;
$courseBgColor: #ffffff;
$headerTextColor: #4d4d4d;
$aticleTitleColor: #1f1f1f;
$padding-top-50: 50px;
$padding-bottom-25: 25px;
$padding-right-30: 30px;
$padding-left-30: 30px;
$accordionTextColor: #8E8E8E;
$courseColor: #191919;
$moduleLinkColor: #006597;
$defaultMarginBottom: 20px;
$colonPadding: 0 10px;
$modulePadding: 40px 40px 20px 40px;
$marginTop: 15px;
$break-middle: 768px;
$break-small: 360px;
@import url(https://fonts.googleapis.com/css?family=Open+Sans&subset=latin,cyrillic-ext);
html,
body,
ul,
ol {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

html {
    height: 100%;
    box-sizing: border-box;
    overflow-y: -moz-scrollbars-vertical;
    overflow-y: scroll;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
    padding-top: 80px;
    background-color: $mainBgColor;
}
.bold {
    font-weight: bold;
}

a {
    color: #5b8bac;
    text-decoration: underline;
}
.pagination .active a, .pagination .active a:hover{
    background-color: #eee;
    color: #2d6594;
    border: 1px solid #ddd;
}
.navbar-default {
    background-color: #fff;
    border-color: #fff;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    background-color: #fff;
    text-decoration: none;
    color: $headerTextColor;
    font-weight: bold;
}
.navbar-default .navbar-brand {
    color: $aticleTitleColor;
    font-weight: bold;
    text-decoration: none;
}
.navbar-default .navbar-nav > li > a {
    color: $headerTextColor;
    text-decoration: none;
}
.navbar-nav > li > a {
    padding-top: 17px;
}
.user-head-avatar {
    width: 24px;
    height: 24px;
    border-radius: 4px;
}
.logo-head {
    width: 100px;
    height: 24px;
}
.container-search-btn {
    background-color: #eee;
}
.btn.btn-success {
    text-decoration: none;
}
.btn.btn-info {
    text-decoration: none;
}
.pagination > li > span {
    padding: 8px 12px;
}
.bottom-padding {
    padding-bottom: $padding-bottom-25;
}