$mainBgColor: #F7F7F7;
$regBtnColor: #00C1DE;
$loginBtnColor: #00B859;
$footerBgColor: #DFDFDF;
$courseBgColor: #ffffff;
$padding-top-50: 50px;
$accordionTextColor: #8E8E8E;

html,
body,
ul,
ol {
    margin: 0;
    padding: 0;
}

body {
    padding-top: 80px;
    background-color: $mainBgColor;
}