/*   footer is located at the bottom   */
/*
html {
  position: relative;
  min-height: 100%;  
  font-family: Verdana, sans-serif; 
}
body {
  margin-bottom: 60px; 
  background-color: #f7f7f7;
} 
.wrapper{
	padding-bottom: 10px;
} 
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #efefef;
}
.footer div{
	margin: 20px auto;
	max-width: 600px;
    text-align: center;
    color: #727272;	
} 
*/
/*    header style     */
/*
.header{
	background-color: #fff; 
	min-height: 30px;
	padding: 10px 50px !important;
	font-weight: 700 !important;
}
.mini-logo{
	text-align: right;
	padding-right: 20px;
	margin-top: -10px;
}
.header-page{
	text-align: center;
}
.img-user{
	margin-top: -5px;
    margin-left: 2px;
}
.dropdown{
	list-style-type: none;
}
.dropdown a{
	text-decoration: none;
}
.dropdown-toggle{
	color: #333;
}
.dropdown-menu{
	list-style-type: none;	
}
.main-menu{
	left: -110px;
}
.user-menu{
	left: -30px;
}
*/
/*  main area style   */
.tests{
	background-color: #fff;
	margin: 20px auto;
	padding: 25px 35px;
	max-width: 630px;
	min-height: 100%;	
}
a {
	color: #5b8bac;
     text-decoration: underline;
}

/* style for page: course-test   */
h1{
	font-size: 22px;
	text-align: center;
	font-weight: 800;
	padding-bottom: 10px;
}
ol {
	list-style: decimal inside;
}
input[type="text"], select{
	width: 300px !important;
}
label{
	font-weight: 0 !important;
}
#test-submit{
	text-align: center;

} 
 

/* checkbox style*/
.inline {
    margin: 0 0 10px;
    min-height: 20px;
    font-size: inherit;
}

input[type="checkbox"] {
    opacity: 0;
    width: 21px;
    height: 20px;
    margin: 0;
    top: 5px;
    position: relative;
}

input[type="checkbox"] + label {
    min-height: 20px;
    display: inline-block;
    margin-left: -20px;
    padding: 0 0 0 30px;
	background: url(../img/checkboxes.png) no-repeat 0 0;  
    font-weight: normal;
}

input[type="checkbox"]:checked + label {
    background-position: 0 -20px;
}