#registrationApp {
	padding-top: 100px;
}

.glyphicon {
	color: red;
	display: none;
	font-size: 20px;
}
.ui-datepicker-title {
	color: #1c94c4;
}
.error{
	color: #FD5A5A;
	font-size: 12px;
}
a.lang {    
    padding-left: 20px;
    font-size: 14px;
    color: #aaa;
}
a.lang:hover {
	color: #555;
	cursor: pointer;    
}
a.ua{
	background: url(../img/flag_ua.gif) no-repeat 0 center;
	display: none;
}
a.en{
	background: url(../img/flag_en.png) no-repeat 0 center;	
}
.open>.dropdown-menu {
    overflow-y: scroll;
    height: 300px;
}
.open>.dropdown-menu li{
	padding-left: 20px;
}
.dropdown-menu[name="country"] li {
    cursor: pointer;
}
.dropdown-menu[name="country"] li:hover {
    background-color: #CAE1F5;
}