
<div class="row col-lg-8 col-lg-offset-2">



    <div class="row" id="general-form">

    <div class="text-center">
        <img src="img\ss_logo2.png" alt="SoftServe IT Academy">
        <h2> <strong>Course Management System</strong></h2> <h3> <strong>Реєстрація</strong></h3>
    </div>

    <div class="error-message center-block warning">
        <h5><strong>Увага! </strong>Всі поля є обов'язковими для заповнення.</h5>
    </div>

    <form action="" class="registerForm" id="registerForm">

            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><span><strong>І</strong></span></span>
                    <input type="text" class="form-control" name="name" id="name" placeholder="Ім'я">
                   
                </div>
            </div>

            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><span><strong>П</strong></span></span>
                    <input type="text" class="form-control" name="surname" id="surname" placeholder="Прізвище" required>
                   
                </div>
            </div>                

            <div class="form-group ">
                <div class="input-group">
                    <span class="input-group-addon"><span><strong>@</strong></span></span>
                    <input type="email" class="form-control" id="email" name="email" placeholder="E-mail" required>
                    
                </div>
            </div>

            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><span><strong>*</strong></span></span>
                    <input type="password" class="form-control" id="pass" name="pass" placeholder="Пароль (мін. 6 символів)" required>
                </div>
            </div>

            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><span><strong>*</strong></span></span>
                    <input type="password" class="form-control" id="repeatPass" name="repeatPass" placeholder="Підтвердженя паролю" required>
                </div>
            </div>                

            <input type="submit" name="submit" id="submit" value="Реєстрація" class="btn btn-info center-block">

    </form>
    </div>
</div>     