<div id="resourceСontainer" class="form-group">
    <div class="table-responsive">
        <table class="table table-striped">
            <thead id="resources">
                <th>Назва</th>
                <th>Тип</th>
                <th>URL</th>
                <th></th>
                <th></th>
            </thead>
            <tbody></tbody>
            <td><input id="addResourceName"></td>
            <td><select id="addResourceType"></select></td>
            <td id="addResourceUrl"></td>
            <td><span id="addResource"class="glyphicon glyphicon-plus"></td>
            <td><span id="cancelAddResource"class="glyphicon glyphicon-remove"></td>
        </table>
    </div>
</div>