
<div id="resource-container" class="container-fluid col-lg-10 col-md-offset-1">
    <div class="table-responsive">
        <table class="table table-striped">
            <thead id="resources">
                <th>Name</th>
                <th>Type</th>
                <th>URL</th>
                <th>Edit</th>
                <th>Delete</th>
            </thead>
            <tbody></tbody>
            <td><input id="addResourceName"></input></td>
            <td><select id="addResourceType"></select></td>
            <td id="addResourceUrl"></td>
            <td colspan="2"><span id="addResource"class="glyphicon glyphicon-plus"></td>
        </table>
    </div>
    <div>
    <div class="text-center top-margin">
        <button id="cancel-rosources" class="btn btn-default">Відмінити</button>
        <button id="save-module-resources" class="btn btn-success">Зберегти</button>
    </div>
</div>