<ul class="pagination">
  <div id="count-questions">
    Питання <%=info.currentPage %> з <%= info.totalPages %><br/>
    Відповідей <%= countAnswers %>
  </div>

  <% if (info.currentPage != 1) { %>
  <li>
      <a href="<%=info.pageUrl(1) %>" aria-label="First">
          <span aria-hidden="true">&laquo;</span>
      </a>
  </li>
  <% } else { %>

  <li class="disabled">
      <a><span aria-hidden="true">&laquo;</span></a>
  </li>
  <% } %>
 
<% _.each(info.pageSet, function(p) { %>
  <% if (info.currentPage == p) { %>
    <li class="active" id="<%= p %>"><a href="<%=info.pageUrl(p) %>"><%= p %></a></li>
  <% } else { %>
    <li id="<%= p %>"><a href="<%= info.pageUrl(p) %>" id="<%= p %>"><%= p %></a></li>
  <% } %>
<% }); %>

  <% if (info.currentPage != info.lastPage) { %>
  <li>
      <a href="<%= info.pageUrl(info.lastPage) %>" aria-label="Last">
          <span aria-hidden="true">&raquo;</span>
      </a>
  </li>
  <% } else { %>
  <li class="disabled">
      <a><span aria-hidden="true">&raquo;</span></a>
  </li>
  <% } %>
</ul>