<div class="tests">
        <a>&lt; повернутися до курсу</a>

        <h1>Тест 1. Теги: поняття, типи підтримки</h1>

        <div class="row">
           <div class="col-lg-12 text-center">
               <nav>
                  <ul class="pagination">
                    
                  </ul>
                </nav>
           </div>
        </div>

        <form>
        <ol class="test">
  
        </ol> 
        <div id="test-submit">
            <button type="submit" class="btn btn-success">Зафіксувати спробу</button>
        </div>   
        </form>
</div>