<div>
<div class="row">
    <div class="col-lg-12">
        <div class="page-header text-center">
            <img src="img\ss_logo.png" alt="SoftServe IT Academy">

            <h1><strong>Course Management System</strong></h1>

            <h1>Course Management System</h1>

            <h1><strong>Course Management System</strong></h1>

        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-8 col-lg-offset-2">
        <div class="error-message text-center bg-danger ">
            <h5 class="text-danger"><strong>Помилка!</strong>Заповніть підсвічені поля та спробуйте знову.</h5>
        <div class="error-message text-center bg-danger">
            <h5 class="text-danger"><b>Помилка!</b>Заповніть підсвічені поля та спробуйте знову.</h5>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-10 col-lg-offset-1">
        <form action="" class="login-form" id="loginForm">
            <div class="form-group email">
                <div class="input-group">
                    <span class="input-group-addon bold">@</span>
                    <input type="text" class="form-control" id="email" placeholder="E-mail">
                </div>
            </div>
            <div class="form-group password">
                <div class="input-group">
                    <span class="input-group-addon bold">*</span>
                    <input type="password" class="form-control" id="password" placeholder="Пароль">
                </div>
            </div>
            <div class="form-group">
                <a href="#reset">відновлення паролю</a>

                <a class="btn btn-info btn-sm pull-right" href="#register" role="button">Реєстрація</a>

                <a class="btn btn-info btn-md pull-right" id="register" href="#register" role="button">Реєстрація</a>
            </div>
            <div class="form-group text-center">
                <input type="submit" class="btn btn-md btn-success submit" value="Вхід">
            </div>    
        </form>
    </div>
</div>
</div>