<div id="module-container" class="container-fluid padding">
        <a href="" class="left-side">&lt; повернутись до курсу</a>
        <a href="" class="right-side">пройти тест &gt;</a>
        <div id="module-info">
            <h3><%= title %></h3>
            <div><%= description %></div>
            <div class="videoWrapper">
                <iframe width="560" height="315" src= <%= video %> frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="align-center"><button class="button">Пройти тест</button></div>
        </div>
    </div>