<div id="module-container" class="container-fluid col-lg-10 col-md-offset-1">
    <form id="module-form">
        <div>
            <div><strong>Назва модуля:</strong></div>
            <input id="module-name" type="text" placeholder="Введіть назву модуля ..." class="title"></input>
        </div>
        <div>
            <textarea id="description" placeholder="Введіть зміст модуля ..." class="text-editor"></textarea>
        </div>
        <div id="resources">
        </div>
        <% if (this.edit) { %>
            <hr>
                <div><strong>Ресурси модуля:</strong>
                    <ul><% _.each(module.get('_resources'), function(resource){ %>
                        <li><%= resource.name %></li>
                        <% }); %>
                    </ul>
                </div>
                <div class="text-left top-margin">
                    <button id="choose-resources" class="btn btn-success">Додати ресурси до модуля</button>
                </div>
            <hr>
        <% } %>
            <div class="small-margin">
                <input id="test-available" type="checkbox"></input><label><strong>тест доступний</strong></label>
            </div>
        <hr>
        <div class="text-center top-margin">
            <button id="save-btn" type="submit" class="btn btn-success">Зберегти</button>
        </div>
    </form>
</div>