<div id="module-container" class="container-fluid col-lg-10 col-md-offset-1">
    <form id="module-form">
        <div>
            <div><strong>Назва модуля:</strong></div>
            <input id="module-name" type="text" placeholder="Введіть назву модуля ..." class="title"></input>
        </div>
        <div>
            <textarea id="description" placeholder="Введіть зміст модуля ..." class="text-editor"></textarea>
        </div>
        <div>
            <div class="small-margin">
                <input id="test-available" type="checkbox"></input><label><strong>тест доступний</strong></label>
            </div>
        </div>
        <div class="text-center top-margin">
            <button id="test-btn" type="submit" class="btn btn-success">Зберегти</button>
        </div>
    </form>
</div>