@import 'modules/template';
@import 'modules/login-page';
@import 'modules/navbar-block';
@import 'modules/course-block';
@import 'modules/footer-block';
@import 'modules/register-page';
@import 'modules/modal';
@import 'modules/module-block';
@import 'modules/test-block';
@import 'modules/management-block';